@font-face {
  font-family: 'graphik';
  font-weight: normal;
  src: url('../fonts/Graphik-Regular.otf');
}

@font-face {
  font-family: 'graphik';
  font-weight: 500;
  src: url('../fonts/Graphik-Semibold.otf');
}

@font-face {
  font-family: 'graphik';
  font-weight: bold;
  src: url('../fonts/Graphik-Bold.otf');
}

@font-face {
  font-family: 'publico';
  font-weight: 300;
  src: url('../fonts/Publico-Light.otf');
}

@font-face {
  font-family: 'publico';
  font-weight: normal;
  src: url('../fonts/PublicoText-Roman.otf');
}

@font-face {
  font-family: 'publico';
  font-weight: bold;
  src: url('../fonts/Publico-Bold.otf');
}

@font-face {
  font-family: 'lyon-semibold';
  font-weight: normal;
  src: url('../fonts/Lyon/LyonText-Semibold.otf');
}

@font-face {
  font-family: 'lyondisplay-light';
  font-weight: normal;
  src: url('../fonts/LyonDisplay/LyonDisplay-Light.otf');
}

@font-face {
  font-family: 'Lota-grotesque';
  font-weight: 400;
  src: url('../fonts/LotaGrotesque/LotaGrotesque-Regular.otf');
}


@font-face {
  font-family: 'Lota-grotesque';
  font-weight: bold;
  src: url('../fonts/LotaGrotesque/LotaGrotesque-Bold.otf');
}

@font-face {
  font-family: 'Lota-grotesque';
  font-weight: 900;
  src: url('../fonts/LotaGrotesque/LotaGrotesque-Black.otf');
}