@import 'constants';
@import 'fonts';
@import '../../../node_modules/normalize.css';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/brands';

// ***** Mixin *****

// See: https://stackoverflow.com/questions/12788262/sass-browser-vendor-prefixes
@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

// ***** General Style *****
* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100%;
  // sass-lint:disable no-important
  overflow-x: hidden !important;
}

body,
input,
button {
  font-family: $serif-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $titre-font-family;
}

a {
  color: $blue;

  &:hover {
    color: $dark-blue;
    text-decoration: none;
  }
}

p {
  font-size: 1.25rem;
  line-height: 1.6em;
  color: $text-color;
}

blockquote {
  padding: 26px 34px 28px;
  margin: 3.5em 0;
  background-color: $very-very-light-gray;
  border-top: 1px solid $dark-gray;

  strong,
  p {
    font-size: 1.25em;
    line-height: 1.5em;
  }

  p {
    font-weight: 300;
  }
}

figure {
  margin: 2.5em 0;

  img {
    position: relative;
    left: (100% - $fig-image-width) / 2;
    width: $fig-image-width;
  }

  figcaption {
    margin: 0.5em 0;
    font-family: $sans-serif-font-family;
    font-size: $fig-caption-font-size;
    font-weight: normal;
    line-height: 1.5em;
    color: $text-color;
  }

  .ref {
    padding-right: 0.3em;
    color: $text-very-light-color;
  }
}

img,
video {
  object-fit: cover;
  object-position: 50% 50%;
}

address {
  font-family: $sans-serif-font-family;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: $text-color;

  a {
    line-height: 1.22222em;
    color: inherit;
    text-decoration: none;
   // border-bottom: 1px solid $white;
    transition: border-color 0.2s ease-out;

    &:hover {
      color: inherit;
      border-color: $text-color;
      text-decoration: none;
    }
  }

  .authors {
    margin-bottom: 0.5em;
    color: $text-color;
  }

  .date {
    //color: $text-light-color;
  }
}

address .authors {
  margin-bottom: 0.5em;
  color: $text-color;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.social-buttons {
  padding: 0;
  margin: 0;
  font-size: 1.25em;
  line-height: $header-logo-height;
  list-style: none;

  > li {
    display: inline-block;
    line-height: $header-logo-height;

  }

  button {
    line-height: $header-logo-height;
    cursor: pointer;
    background: 0;
    border: 0;
    outline: 0;

    a {

      .normal{
        display: block;
      }

      .hover{
        display: none;

      }
    }

  }
}


.steps {
  position: relative;
  z-index: 2;
  height: 100%;

  section {
    max-width: $step-max-width;
    margin: auto auto calc(100vh - #{$header-height});

    &:first-child {
      margin-top: 0;
      transform: translateY(-50%);
    }

    &:last-child {
      margin-bottom: 0;
      transform: translateY(50%);
    }

    h1 {
      font-size: $step-heading-font-size * 1.25;
      line-height: 1.3em;
    }

    h2 {
      font-size: $step-heading-font-size;
    }

    figure {
      margin: 1.75em 0 1.5em;

      img {
        position: relative;
        left: 0;
        width: 100%;
      }
    }
  }
}

// ***** Header *****
header {
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100%;
  height: $header-height;
  padding: $header-padding;
  background-color: $header-background-color;

  a.facebook {
    color: $text-color;
  }

  &.dark {
    color: $header-dark-text-color;
    background-color: $header-dark-background-color;

    a.facebook {
      color: $header-dark-text-color;
    }

    .progress {
      bottom: -4px;
      height: 4px;
      background-color: $header-dark-scroll-progress-color;
    }
  }

  img {
    position: relative;
    z-index: 2;
    height: $header-logo-height;
  }

  .article-reminder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    font-family: $sans-serif-font-family;
    font-size: 13px;
    font-weight: 500;
    line-height: $header-height;
    color: inherit;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-out;

    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }

  .social-buttons {
    position: relative;
    z-index: 3;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      color: inherit;
      transition: opacity 0.2s ease-out;

      // &:hover {
      //   opacity: 0.8;
      // }
    }


  }

  .progress {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: $header-scroll-progress-color;
  }
}

// ***** Main *****
main {
  position: relative;
  top: $header-height;
}

  .rainbow-container{
    background-image: linear-gradient(
      #ffadad, /* Pastel Red */
      #ffd6a5, /* Pastel Orange */
      #fdffb6, /* Pastel Yellow */
      #caffbf, /* Pastel Green */
      #9bf6ff, /* Pastel Blue */
      #a0c4ff, /* Pastel Indigo */
      #bdb2ff  /* Pastel Violet */
    );
  }

.intro-section {
  position: relative;
  max-width: $text-max-width;
  padding: 175px 25px 0;;
  margin: 0 auto;
  box-sizing: content-box;

  h1 {
    font-size: $intro-h1-size;
  }

  p:first-of-type {
    margin-top: $intro-spacing;
    margin-bottom: $intro-spacing / 2;
    font-size: 1.25rem;
    font-weight: bold;
  }
}

.text-section {
  max-width: $text-max-width;
  padding: 2rem 25px;
  margin: 0 auto;
  box-sizing: content-box;
  z-index: 1;
  position: relative;

  p {
    margin-bottom: 0.8em;
  }

  img, video{
    width: 100%;
  }

  &.black-bkg{
    p{
      color: white !important;
    }
  }

  &.big-padding{
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

}

.black-bkg{
  position: relative;
  background-color: black !important;
}

.viz-section {
  position: relative;
  display: flex;
  padding: 0 0 0 25px;

  > .steps {
    padding-top: 50vh;
    padding-bottom: 50vh;
    flex-basis: 100% - $vis-width;

    section p {
      color: $step-text-color;
    }
  }

  > .viz {
    // sass-lint:disable no-vendor-prefixes
    position: -webkit-sticky;
    // sass-lint:disable no-duplicate-properties
    position: sticky;
    top: $header-height;
    width: $vis-width;
    height: $vis-height;
    min-height: $vis-height;
    font-family: $sans-serif-font-family;
    flex-basis: $vis-width;
    display: flex;
    justify-content: center;
    align-items: center;

    canvas,
    svg,
    img {
      height: calc(100vh - 40px);
      width: 100%;
      //max-width: 1000px; 
      //max-height: 1000px;
      min-width: 300px;
      min-height: 300px;
    }

    img {
      object-fit: cover;
      object-position: initial;
    }
  }

  &.full-page {
    position: relative;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: column-reverse;

    > .steps {
      padding: 0 10px 100vh;
      //margin-top: -50vh;
      margin-top: 0vh;

      section {
        max-width: 450px;
        padding: $step-padding;
        background-color: $white;
        border: 1px solid $step-border-color;
      }

      section:first-child,
      section:last-child {
        transform: translateY(0%);
      }
    }

    > .viz {
      z-index: 1;
      width: 100%;
      overflow: hidden;
      flex-basis: 100%;
    }
  }

  .viz-intro-trust{
    width: 90%;
    padding: 10px 30px;
    background-color: #fff;
    border: 1px solid #d0d0d0;
    position: relative;
    left: 0%;
    top: 0;
    transform: translateX(0%);
    margin: auto;

    max-width: 80vw !important;
    height: 75vh !important;
    box-shadow: rgba(0, 0, 0, .7) 5px 5px 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    .viz-intro-container{

      margin: 100px 200px;

    }

    .trustProjectAdress{
      display: flex;
      flex-direction: column; /* row2 will always stay underneath */
      margin-top: 1.45em;
      padding-top: 0.5em;
    
      .row1 {
        display: flex;
        //justify-content: space-between; /* spread date and interactif */
        gap: 5rem; /* optional spacing */
      }
      
      .row2 {
        margin-top: 2rem; /* spacing below row1 */
      }
    
      .interactif-i-Hover{
        position: relative;
        display: flex;
        align-items: center;
        gap: 6px;
        font-weight: bolder;
    
    
        #i-hover{
          img{
            height: 20px;
          }
        }
    
        .tooltip {
          display: none; /* hidden by default */
          position: absolute;
          top: 100%;
          left: 0;
          background: #fff;
          border: 1px solid #ccc;
          border-radius: 8px;
          padding: 0.5rem 1rem;
          box-shadow: 0 4px 12px rgba(0,0,0,0.15);
          width: 250px;
          z-index: 10;
        }
    
        /* show the tooltip when hovering the image */
        &:hover .tooltip {
          display: block;
        }
      }
    
      .interactif-t-hover{
        display: flex;
        align-items: center;
        gap: 6px;
        width: 200px;
        #t-hover{
          img{
            height: 30px;
          }
        }
    
        a{
          line-height: 1em;
          text-decoration: none;
        }
      }

      .address-bottom-line{
        position: relative;
        height: 1px;
        width: 100%;
        background-color: black;
        margin: 0.5em 0;
      }
    }

    h1{
      font-size: 42px;
      margin-bottom: 0.6em;
    }

    p:first-of-type {
      font-family: $sans-serif-font-family;
      margin-top: 0;
      margin-bottom: 0;
      font-size: $intro-text-size;
      line-height: 1em;
      //font-weight: bold;
    }
  }
}

.full-page-section {
  position: relative;
  width: 100%;
  clear: both;
  text-shadow: 1px 1px 10px $black;

  .titleImage{
    height: calc(100vh - 40px);
    background-color: #000;

    img{
      width: 100%;
      height: 100%;
    }

    .filter{
      z-index: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: .5;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(transparent, #000);
    }
  }

  .captionholder {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 1;
    transform: translate3d(0, 0, 0);
    transform: translate(-50%, -50%);
    padding: 0 0.2em;

    > .caption {
      text-shadow: none;
      text-align: center;
      margin: 0 auto;
      width: 100%;
      &,
      * {
        color: $white;
      }

      &.main{
        top: 33%;
        font-family: 'graphik';
        font-size: 14pt;
        font-weight: 400;
        text-decoration: underline;
        text-underline-offset: 5px;
      }
  
      &.secondary{
        font-family: $sans-serif-font-family;
        font-weight: 500;
        top: 67%;
        font-size: 27pt;
        padding-top: 0.6em;
        font-family: 'lyondisplay-light';
      }

      &.mainTitle{
        top: 33%;
        font-family: 'lyon-semibold';
        font-size: 30pt;
        font-weight: 400;
      }
  
      &.secondaryTitle{
        font-family: $sans-serif-font-family;
        font-weight: 400;
        top: 67%;
        font-size: 12pt;
        padding-top: 1.5em;
        font-family: 'graphik';
        text-transform: uppercase;
      }

    }
  }

  > .steps {
    padding-bottom: 50vh;
    margin-top: -50vh;
    color: $white;

    section p {
      color: inherit;
    }
  }

  .title{
    height: calc(100vh - #{$header-height});
    background-color: $black;
    > img, video {
      @include vendor-prefix(user-select, none);
      // sass-lint:disable no-vendor-prefixes
      //position: -webkit-sticky;
      // sass-lint:disable no-duplicate-properties
      z-index: 1;
      transform: translate3d(0, 0, 0);
      width: 100%;
      height: 100%;//calc(100vh - #{$header-height});
      -webkit-touch-callout: none;
    }

    .filter{
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(transparent, $black);;
    }

  }
}

// intro in snap section
.intro-snap{
  position: relative;
  max-width: $text-max-width;
  padding: $main-padding;
  // margin: $intro-margin-top auto 0;
  box-sizing: content-box;

  margin: 100px auto;


  h1 {
    font-size: $intro-h1-size;
  }

  p:first-of-type {
    margin-top: $intro-spacing;
    // margin-bottom: $intro-spacing / 2;
    margin-bottom: 0;

    font-size: $intro-text-size;
    font-weight: bold;
  }

  .trustProjectAdress{
    display: flex;
    flex-direction: column; /* row2 will always stay underneath */
    margin-top: 1.45em;
    padding-top: 0.5em;
  
    .row1 {
      display: flex;
      //justify-content: space-between; /* spread date and interactif */
      gap: 5rem; /* optional spacing */
    }
    
    .row2 {
      margin-top: 2rem; /* spacing below row1 */
    }
  
    .interactif-i-Hover{
      position: relative;
      display: flex;
      align-items: center;
      gap: 6px;
  
  
      #i-hover{
        img{
          height: 20px;
        }
      }
  
      .tooltip {
        display: none; /* hidden by default */
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 0.5rem 1rem;
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);
        width: 250px;
        z-index: 10;
      }
  
      /* show the tooltip when hovering the image */
      &:hover .tooltip {
        display: block;
      }
    }
  
    .interactif-t-hover{
      display: flex;
      align-items: center;
      gap: 6px;
      width: 200px;
      #t-hover{
        img{
          height: 30px;
        }
      }
  
      a{
        line-height: 1em;
        text-decoration: none;
      }
    }
  }
  
}


// ***** Footer *****
// footer {
//   padding: $footer-padding;
//   position: relative;
//   top: 40px;

//   > div {
//     max-width: $footer-max-width;
//     padding: $footer-inner-padding;
//     margin: 0 auto;
//     font-family: $sans-serif-font-family;
//     font-size: 0.9em;
//     color: $text-light-color;
//     background-color: $footer-background-color;
//     border-top: 1px solid $light-gray;

//     p {
//       margin: 0;
//       font-size: 1rem;
//       line-height: 1.5em;
//       color: inherit;
//     }
//   }
// }


footer {
  //padding: 15% 25px 0 25px;
  padding: 10% 25px 0 25px;
  margin-top: 40px;
  background-color: #bdb2ff;

  > div {
    max-width: $footer-max-width;
    padding: $footer-inner-padding;
    margin: 0 auto;
    font-family: $sans-serif-font-family;
    font-size: 0.9em;
    color: $text-light-color;
    border-top: 1px solid $light-gray;

    p {
      margin: 0;
      font-size: inherit;
      line-height: 1.5em;
      color: inherit;
    }
  }


  .head, .head1 {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    //border-top: 1px solid $light-gray;
    padding: 10px 0;
    > h2 {
      display: inline;
      cursor: pointer;
    }

    button {
      cursor: pointer;
      border: none !important;
      background-color: transparent !important;
      font-weight: bold;
      font-size: 2.2em;
      color: $text-light-color;
    }
  }


  .inner, .inner1 {
    position: relative;
    
    .filter{
      position: absolute;
      height: 100%;
      width: 100%;
      pointer-events: none;
    }

    p{
      a{
        color: rgb(249,156,37);
      }
    }

    >a {
      color: red;
      font-family: "graphik",sans-serif;
      font-size: 12pt;
    }

    > a strong{
      font-weight: 600;
      color: black;
      font-size: 1.06rem;
    }

      overflow-y: hidden;
      border-top: 1px solid transparent;
      max-width: $footer-max-width;
      padding: $footer-inner-padding;
      padding-top: 0;
      margin: 0 auto;
      font-family: $sans-serif-font-family;
      font-size: 0.9em;
      color: $text-light-color;

      p {
        margin: 0;
        font-size: inherit;
        line-height: 1.5em;
        color: inherit;
      }
  }

  
}

// ***** Pub *****
.pub-container{
  position: relative;
  //height: 9em;
  width: auto;
  top: 40px;
  z-index: 3;

  display: flex;
    justify-content: center;
}

.pub-devoir-permanent{
  margin: 0;
  width: 100%;
  top: 40px;
  //height: 9em;

  background-color: #eee;

  z-index: 2;
  position: relative;
  //display: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}





// ***** Mix and Match *****
.mixAndMatch{
  .container {
    display: flex;
    gap: 40px;
    padding: 20px;

    justify-content: center;
    align-items: center;
  }
  
  .left-column, .right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    //width: 50%;

    justify-content: center;
    align-items: center;
  }
  
  .draggable {
    padding: 12px;
    background: #eee;
    cursor: grab;
    border-radius: 6px;
    width: 150px;
    text-align: center;

    //for mobile drag and drop diagonally
    touch-action: none;
    -webkit-user-select: none;
    user-select: none;

  }
  
  .dropzone {
    width: 150px;
    height: 60px;
    background: #ddd;
    border: 2px dashed #aaa;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



// ***** Collapse items *****
#collapseMenu {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0;

  button, img {
    background-color: transparent;
    padding: 2px;
    border: none;
    width: 50px !important;
    display: flex;
    align-items: center;
    cursor: pointer;

    img, source {
      width: 100% !important;
    }
  }

  #collapseMenuText {
    cursor: pointer;
    display: flex;
    flex-direction: column;

    #buttonText {
      font-weight: bold;
      font-size: 1.4em;
    }

    #callToAction {
      font-family: graphik;
      text-transform: uppercase;
      font-size: 0.8em;
    }
  }
}

#collapseContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease;
  margin-bottom: 20px;
  font-size: 0.8em;
}

#collapseContent.show-content {
  max-height: 1000px;
  position: relative;
}


// Guirlandes



#Christmas_Light{
  display: block;
  margin: 0;
  width: 100%;
}

.light_cord {
  fill: none;
  stroke: #174700;
}

.light_fixture {
  fill: #134413;
}

.red_bulb {
  fill: #CA2128;
  stroke: #6D6D6D;
  stroke-miterlimit: 10;
}

.green_bulb {
  fill: #2D754A;
  stroke: #6D6D6D;
  stroke-miterlimit: 10;
}

.blue_bulb {
  fill: #2C3EA8;
  stroke: #6D6D6D;
  stroke-miterlimit: 10;
}

.white_bulb {
  fill: #F5EED7;
  stroke: #6D6D6D;
  stroke-miterlimit: 10;
}

.gold_bulb {
  fill: #ffcc5e;
  stroke: #6D6D6D;
  stroke-miterlimit: 10;
}


/* Simply changing the opacity of the SVG fill to create the glow effect for the bulbs */

.bulb {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: glow;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  animation-name: glow;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@-webkit-keyframes glow {
  0% {
    fill-opacity: 0.25;
  }
  100% {
    fill-opacity: 1
  }
}

@keyframes glow {
  0% {
    fill-opacity: 0.25;
  }
  100% {
    fill-opacity: 1.0
  }
}


/* Made a set of ten animation delays to create a more random effect of lights blinking.  Simplest way without jumping through SVG hoops. */

.blink-1 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.blink-2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.blink-3 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.blink-4 {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.blink-5 {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.blink-6 {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.blink-7 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.blink-8 {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.blink-9 {
  -webkit-animation-delay: 0.95s;
  animation-delay: 0.95s;
}

.blink-10 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}



// ***** FadeIn Animation *****
.fadeIn {
  opacity: 0;
  position: relative;
  //top: -100px;

  &.fade-animation{
    //animation: fade-in 5s forwards;
    opacity: 1;
    //top: 0px;
    transition: 3s;
  }
}


// **** ADD ON ****
.paralaxZone{
  position: absolute;
  height: 200vh;
  width: 100%;

  .items{
    position: absolute;
    height: 20%;
    width:  40%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    .items-img{
      height: 100%;
      width: 100%;
      filter: drop-shadow(5px 5px 5px #22222266);
    }

    &#item0{
      top: 25vh;
      left: 80vw;
      height: auto;
      width: 150px;
    }

    &#item1{
      top: 75vh;
      left: 5vw;
      height: auto;
      width: 200px;
    }

    &#item2{
      top: 150vh;
      left: 80vw;
      height: auto;
      width: 200px;
    }

    &#item3{
      top: 165vh;
      left: 5vw;
      height: auto;
      width: 250px;
    }

    &#item4{
      top: 235vh;
      left: 80vw;
      height: auto;
      width: 250px;
    }

    &#item5{
      top: 250vh;
      left: 5vw;
      height: auto;
      width: 250px;
    }

    &#item6{
      top: 330vh;
      left: 80vw;
      height: auto;
      width: 200px;
    }

    &#item7{
      top: 390vh;
      left: 5%;
      height: auto;
      width: 250px;
    }

    &#item8{
      top: 425vh;
      left: 80vw;
      height: auto;
      width: 250px;
    }

    &#item9{
      top: 470vh;
      left: 5vw;
      height: auto;
      width: 250px;
    }

    &#item10{
      top: 510vh;
      left: 80vw;
      height: auto;
      width: 250px;
    }
  }

}


// **** Carousel ****
.carousel {
  left: 0;
  width: 100%;

  > .carousel-items {
    display: flex;
    position: relative;
    left: 0;
    transition: left 0.5s ease-out;
    align-items: center;

    > figure {
      left: 0;
      width: 100%;
      opacity: 0.4;
      padding: 0 10px;
      margin: 0;

      &.active {
        opacity: 1;
      }

      figcaption {
        display: none;
      }

      img {
        left: 0;
        width: 100%;
      }
    }

    .carousel-01 {
      img {
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 350px;
      }
    }
  }

  > .carousel-caption {
    display: flex;
    padding: 0 15px;

    > .index {
      padding-right: 20px;
      font-size: 1.1em;
      font-weight: 500;
    }

    > .text {
      flex: 1;
    }

    > .controls {
      padding-left: 30px;

      button {
        border: none;
        background: none;
        cursor: pointer;
        outline: 0;
        font-size: 1.5em;
        padding: 0;
        transition: opacity ease-out 0.2s;

        height: 30px !important;
        width: 30px !important; 

        img {
          height: 30px !important;
          width: 30px !important; 
        }

        &:disabled {
          cursor: auto;
          opacity: 0.4 !important;
        }

        &:hover {
          opacity: 0.6;
        }

        &:last-of-type {
          // padding-left: 10px;
        }
      }
    }
  }
}


// **** Fiches ****
.folder {
  position: relative;
  width: 100%;
  .fiche{
    position: absolute; 
    width: 100%; 
    display: flex;
    //align-items: center;
    justify-content: center;

    .f{
      position: sticky;
      width: 95%;
      top: 40px;
      border-radius: 15px;
    }
  }

}



// Loading screen
.loading-screen {
  position: absolute;
  height: calc(100vh - 40px);
  width: 100vw;
  background-color: rgba(0, 0, 0, .8);
  z-index: 3;

  //add overflow : hidden on body dynamically

  .loading-logo {
      position: absolute;
      height: 5rem;
      width: 4rem;

      top: 50%;
      left: 50%;
      transform: translateX(-50%);
  }

  .loading-spinner {
      animation: rotate 2s linear infinite;
      z-index: 1;
      position: absolute;
      width: 250px;
      height: 5rem;

      top: 50%;
      left: 50%;
      translate: -50% 0;

      & .path {
          stroke: rgb(255, 255, 255);
          stroke-linecap: round;
          animation: dash 1.5s ease-in-out infinite;
      }

  }

  @keyframes rotate {
      100% {
          rotate: 360deg;
      }
  }

  @keyframes dash {
      0% {
          stroke-dasharray: 1, 150;
          stroke-dashoffset: 0;
      }

      50% {
          stroke-dasharray: 90, 150;
          stroke-dashoffset: -35;
      }

      100% {
          stroke-dasharray: 90, 150;
          stroke-dashoffset: -124;
      }
  }

}






// ***** Mobile *****
@media screen and (max-width: $extra-large-screen) {
  figure img {
    left: 0;
    width: $fig-mobile-image-width;
  }
}

@media screen and (max-width: $large-screen) {
  .paralaxZone{
    display: none;
  }
  
  html {
    font-size: 11pt;
  }

  p {
    line-height: 1.5em;
  }

  blockquote {
    padding: 20px 24px 32px;
    margin: 2.5em 0;
  }

  .intro-section {
    // margin-top: $intro-mobile-margin-top;
    padding-top: $intro-mobile-margin-top;;

    h1 {
      font-size: $intro-mobile-h1-size;
    }
  }

  .steps section {
    padding: $step-padding;
  }

  .viz-section {
    position: relative;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: column-reverse;

    > .steps {
      padding: 0 $main-padding-left-right 100vh;
      flex-basis: 100%;

      section {
        background-color: $step-background-color;
        border: 1px solid $step-border-color;
        backdrop-filter: blur(3px);
      }

      section:first-child,
      section:last-child {
        transform: translateY(0%);
      }
    }

    > .viz {
      z-index: 1;
      width: 100%;
      flex-basis: 100%;
    }
  }

  .viz-section {
    .viz-intro-trust {

      h1 {
        font-size: 30px;
      }
      .trustProjectAdress {
        .row1 {
          flex-direction: column;
          align-items: flex-start;
          gap: 15px;
        }
      }

      .viz-intro-container {
        margin: auto;
      }
    }
  }

  address{
    .authors{
      font-size: 10pt;
    }
  }

}

@media screen and (max-width: $medium-screen) {
  header .article-reminder {
    display: none;
  }
}

@media screen and (max-width: $small-screen) {
  .intro-section {
    // margin-top: $intro-small-screen-margin-top;
    padding-top: $intro-small-screen-margin-top;;

    h1 {
      font-size: $intro-small-screen-h1-size;
    }
  }

  html {
    font-size: $small-screen-base-font-size;
  }

  .social-buttons {
    button{
      padding-inline: 4px;
    }
  }
}